* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

/* Start of navbar */

nav, .hero__section {
    background-color: #1f2937;
}
.navbar {
    width: 75%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
   
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links a {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

#logo a{
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/* End of navbar */

.hero {
    display: flex;
    height: 600px;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px

}

.hero-text-info {
    width: 50%;
}

.hero-text-info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin-bottom: 10px;
}

.hero-text-info p, .navbar-links a  {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text-info button {
    padding: 10px 30px;
    border-radius: 20%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: #3882f6;
    color: white;
    border: 0;
    margin-top: 15px;
}

.placeHolderForImage {
    height: 220px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
}

/* End of hero styling */

/* Some random information style */

.someRandomInformation__section {
    height: 529px;
}

.randomInformationHeaderDiv {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.randomInformationHeaderDiv h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information__contents {
    display: flex;
    justify-content: space-around;
    padding: 0 0 75px 0 ;
    width: 65%;
    margin: 0 auto;
}

.contentBox {
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    border-radius: 20%;
}

.information__content__subtext {
    width: 200px;
    display: flex;
    justify-content: center;
}

.information__content__subtext p {
    font-size: 18px;
    text-align: center;
}

/* End of information section */

/* Start of quote section */
.quote__section {
    background-color: #E5E7EB;
    height: 500px;
}

.quote-container {
    width: 63%;
    margin: 0 auto;
    padding-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.quote__text h4 {
    font-size: 36px ;
    color: #1F2937;
    font-style: italic;
    font-weight: 400;
}

.quote__author {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.quote__author p {
    font-size: 24px;
    font-weight: bolder;
}

/* End of quote section */

/* Start of CTA */

.call__to__action__section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    width: 70%;
    background-color: #3882F6;
    height: 50%;
    display: flex;
    color: white;
    padding: 70px 200px;
}

.cta__section__text{
    width: 70%;
}
.cta__section__text h4{
    font-size: 25px;
    font-weight: 700;
}
.cta__button__container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__button__container button {
    padding: 10px 25px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    background-color: #3882F6;
    cursor: pointer;
}